{% extends 'base.html' %}

{% block content %}

{% if posts.dne %}

<h1> Error </h1>
<p> User does not exist </p>

{% else %}

{% if form %}
<h1>Make a new post</h1>
<form action="/posts" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>

<br>
<hr>
{% endif %}
<br>

{% for p in posts %}
<body>
  {% if forloop.first %}
  {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>
    Posts by {{p.fullname}}
    <a href="{% url 'get-user' p.username %}">@{{p.username}} </a>
  </h1>
  {% endif %}

  {% endif %}

  <div style="width: 100%">
    <div class="fullname">{{ p.fullname }}</div>
    <div style="height: 100%; widht: 50%;">
      <a href="{% url 'get-user' p.username %}" class="username">@{{ p.username }}</a>
    </div>
    <div class="date">{{ p.date }}</div>
    <div style="clear: both"></div>
  </div>
  <div>
    <br>
    <p class="offset">{{ p.text }}</p>
    <br>
  </div>
</body>
{% endfor %}

<a href="{{ nextpage| safe }}">More posts</a>

{% endif %}

<br>
<hr>
<br>
<br>


{% endblock %}
