{% load static %}

<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">

    </head>

    <!--- Navigation Bar --->
    <div class="top bar">
      <div class="topnav">
	<div class="menu">
	  <a href="/">
	    <b style="font-size:30px">{{ fullname }}     </b>
	  </a>
	  <a href="/"> profile </a>
	  -
	  <a href="/feed"> latest posts </a>
	</div>

	<div style="width: 40%; display: inline-block; float: right">
	  <div class="directory">
	    <a href="/profile_directory" style="float: right"> Profile Directory </a>
	  </div>
	  <div class="searchbar">
	    <form action="/search_user" style="float: right" method="post">
	      {% csrf_token %}
	      <input class="searchfield" name="username" id="username" type="text" placeholder="Username">
	      <input type="submit" value="Search">
	    </form>
	  </div>
	</div>

      </div>
    </div>

    <div class="middle" style="padding-top: 50px">
      <div class="main">
	<div>
	  {% block content %}
          {% endblock %}
	</div>
      </div>
    </div>
</html>
