{% extends 'base.html' %}

{% block content %}

{% if form %}
<h1>Make a new post</h1>
<form action="/posts" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>

<br>
<hr>
{% endif %}
<br>

{% for p in posts %}
<body>
  <h1 class="fullname">{{ p.fullname }}</h1>
  <div class="username">@{{ p.username }} - {{ p.date }}</div>
  <div>
    <br>
    <p class="offset">{{ p.text }}</p>
    <br>
  </div>
</body>
{% endfor %}

<a href="{{ nextpage| safe }}">More posts</a>

{% endblock %}
