{% extends 'base.html' %}

{% block content %}

<br>
<br>

{% if profile.dne %}

<h1> Error </h1>
<p> User not found </p>

{% else %}

<h1>
  {{profile.fullname}}
  <a href="{% url 'get-user' profile.username %}">@{{profile.username}} </a>
</h1>

<form 
  action="{% url 'add-to-following-list' profile.username %}" 
  method="post"
>
  {% csrf_token %}
  <button 
    type="submit" 
    name="follow" 
  >
    Follow {{profile.username}}
  </button>
</form>

<form 
  action="{% url 'remove-from-following-list' profile.username %}" 
  method="post"
>
  {% csrf_token %}
  <button 
    type="submit" 
    name="follow" 
  >
    Unfollow {{profile.username}}
  </button>
</form>

<h4>
  <a href="{% url 'get-posts-remote' profile.username %}">posts</a>
</h4>

{{ profile.html| safe }}

{% endif %}

{% endblock %}
